<div class="col-md-9 col-xs-12">
  <% @links.each do | link | %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to link.title, link.link %>
      </div>
    </div>
  <% end %>
</div>
