<div class="row-fluid">
    <div class="span9 blogpost">
        <div class="posttitle">
            <div class="posttitle_text">
                <p> <%= @post.title %> </p>
            </div>
            <div class="posttitle_date"> <%= @post.created_at %> </div>
        </div>
        <hr>

        <div class="postbody">
            <p> <%= @post.body %> </p>
        </div>

        <div class="postfooter">
            <p> This is my footer, with related tags and social media stuff </p>
        </div>
    </div>
</div>
