<div class="span9 blogpost">
  <!-- Main body -->
  <div class="posttitle">
    <div class="posttitle_text">
      <p> This is my post title </p>
    </div>
    <div class="posttitle_date"> Date/Time Placeholder </div>
  </div>
  <hr>

  <div class="postbody">
    <p> This is going to be a post in my new blog</p>
  </div>

  <div class="postfooter">
    <p> This is my footer, with related tags and social media stuff </p>
  </div>
</div>
