<div class="span9">
  <% @posts.each do |post| %>
    <div class="blogpost">
    <!-- Main body -->
    <div class="posttitle">
      <div class="posttitle_text">
        <p> <%= post.title %> </p>
      </div>
      <div class="posttitle_date"> <%= post.created_at %> </div>
    </div>
    <hr>

    <div class="postbody">
      <p> <%= post.body %> </p>
    </div>

    <div class="postfooter">
          <a href="http://twitter.com/share" class="socialite twitter-share" data-url="http://www.niccolosanarico.com" data-count="horizontal" data-via="remotesynth" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
        

    </div>
  </div>
<% end %>
</div>

