<!--<div class="center hero-unit">
  <h2>A Pinch of Value</h2>

  <p>
    This is going to be my new blog!
  </p>

</div-->
<hr style="margin-top: 0px; margin-bottom: 20px;">

<div class="row-fluid">

  <!-- Insert blog posts. Watch out for pagination -->
  <%= render 'blog/blogpost' %>

  <!-- Menu -->
  <%= render 'blog/sidebar' %>

</div>


