<div class="col-xs-12 col-md-9">
  <h3>A few thank you notes</h2>
  <ul>
    <li><b>Michael Hartl</b>, for his great <a href="http://ruby.railstutorial.org/" target=_blank>Ruby on Rails Tutorial</a></li>
    <li><a href="http://www.heroku.com/" target=_blank>Heroku</a>. No need to add anything</li>
    <li><a href="http://www.heroku.com/" target=_blank>GitHub</a>. A great service</li>
  </ul>
</div>
