@import "bootstrap";

/*
 * Variables
 */

$text1: #666;
$text2: #999;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 0px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
}

/* 
 * typography 
 */

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $text2;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: $text1;
}

p {
    font-size: 0.8em;
    font-family: sans-serif;
    line-height: 1.3em;
}

#logo {
    float: left;
    margin-right: 10px;
    color: #111;
    padding-top: 18px;
    font-weight: bold;
    line-height: 1;
    &:hover {
      color: $text1;
      text-decoration: none;
    }
}


.title_icon {
    width: 30px;
}

.title_icon#hover {
}

/*
 * Layout
 */

.blogpost {
    padding: 10px;
    background-color: #F1F1F1;
    margin-bottom: 25px;
    border-style: solid;
    border-color: #ddd;
    border-width: thin;
    -moz-border-radius: 5px;
    border-radius: 5px;
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        clear: both;
    }
}

#about {
    padding: 10px;
    background-color: #F1F1F1;
    font-size: 1.2em;
    border-style: solid;
    border-color: #ddd;
    border-width: thin;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#nicoimg {
    width: 60px;
    padding-right: 4px;
    padding-bottom: 4px;
    float: left;
}

#social {
    margin-top: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: thin;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#tags {
    margin-top: 5px;
    padding: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: thin;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*
 * Posts
 */
.input-form-text {
    font-size: 1.0em;
}

.posttitle {
    p {
        font-size: 1.2em;
        color: #333;
    }
    a {
        color: #333;
        text-decoration: none;
        &:hover {
            color: #000;
        }
    }
}

.posttitle_text {
    float: left;
}

.posttitle_date {
    font-size: 0.8em;
    color: $text1;
    float: right;
}

.postbody {
    font-size: 1.2em;
}

.postfooter {
    padding-top: 5px;
    p {
        font-size: 0.7em;
        color: $text1;
    }
}

/* 
 * Footer
 */

footer {
    margin-top: 40px;
    padding-top: 5px;
    border-top: 1px solid #BBB;
    color: $text2;
    font-size: 0.8em;

    .madewithlove {
        float:left;
    }
  
    .thanks {
        float: right;
        color: $text2;
        text-decoration: none;
        &:hover {
            color: $text1;
        }
    }
}

/*
 * Elements
 */

#sign-in-button {
    text-align: center;
}

/*
 * DEBUG
 */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 100px;
    @include box_sizing;
}
