<aside class="span3">
  <div id="about">
    <p> <%= image_tag "nico.png", :id => "nicoimg" %> This is me. <br/> I am an engineer with a passion for innovation and startups.</p>
  </div>
<!--  <div id="social">
    <p>This is my social stuff</p>
  </div>
  <div id="tags">
    <p>These are my tags</p>
  </div> -->
</aside>
