<aside class="span3">
  <div id="about">
    <p> 
    <%= image_tag "nico.png", :id => "nicoimg" %> &lt;-- This is me, <b>Niccol&ograve; Sanarico</b>. <br/><br/> I am an engineer with a passion for innovation and startups. I currently work with 
    <a href="www.dpixel.it">dPixel</a>, a venture capital advisory firm based in Italy, but everything you can find here is my opinion alone. You can find me on <a href="https://twitter.com/il_nico"i target=_blank>Twitter</a>. 
    </p>
  </div>
<!--  <div id="social">
    <p>Social stuff</p>
  </div>
  <div id="tags">
    <p>Tags - coming in another moment</p>
  </div> -->
</aside>
