<aside class="span3">
  <div id="about">
    <p> 
    <%= image_tag "nico.png", :id => "nicoimg" %>My name's  <b>Nico</b>. <br/><br/> I am an engineer with a passion for innovation and startups. I currently work with 
    <a href="http://www.dpixel.it" target=_blank>dPixel</a>, a venture capital advisory firm based in Italy, and advise a few great startups such as <a href="http://www.wanderio.com" target=_blank>Wanderio</a>. Note: everything you can find here is my opinion alone. You can follow me on <a href="https://twitter.com/il_nico" target=_blank>Twitter</a>. 
    </p>
  </div>
  <div id="social">
    <blockquote class="urlist-list" id="urlist-2XO"> <h4><a href="http://urli.st/2XO">Startup Tools & Info</a></h4> <p>A collection of useful links and info for your startup</p> <small>—<a href="//urli.st/user/"></a>, via <a href="//urli.st">Urlist</a></small> </blockquote> 
    <script async src="//urli.st/widget/libs/embed.js"></script>
  </div>
  <!--
  <div id="tags">
    <p>Tags - coming in another moment</p>
  </div> -->
</aside>
