<div class="col-xs-12 col-md-3">
  <div id="about">
    <p>
      <%= image_tag "nico.png", :id => "nicoimg" %>My name's
      <b>Niccol&ograve Sanarico</b>.
      <br/><br/>
      I am an Oxford MBA and an engineer with a passion for innovation and startups. I currently work with
      <a href="http://www.dpixel.it" target=_blank>dPixel</a>, a venture capital advisory firm based in Italy, and advise a few great startups such as
      <a href="http://www.wanderio.com" target=_blank>Wanderio</a>. Everything you can find here is my opinion alone. You can follow me on
      <a href="https://twitter.com/il_nico" target=_blank>Twitter</a>. Find more about me on
      <a href="http://it.linkedin.com/in/niccolosanarico/" target=_blank>Linkedin</a>.
    </p>
    <p>
      P.S.: I'm experimenting with in-browser crypto-mining as a replacement for advertising in terms of user experience, see the box below.
    </p>
  </div>
  <div id="coinhive">
    <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
    <div class="coinhive-miner"
    	style="width: 256px; height: 310px"
    	data-key="hB6v09bbt7ZsnmQ6v9rl71WtNt3tVup3"
      data-autostart="true">
    	<em>Loading...</em>
    </div>
  </div>
  <!-- <div id="hyperting">
    <script id="hyperting2f135c3e0e38a4827d3820c96503857a" type="text/javascript"> (function() {  var hy = document.createElement("script"); hy.type = "text/javascript"; hy.async = true;  if (document.location.protocol=="https:") hy.src="https://gonzo.hyperting.com:443/banner.js"; else {var pubservers = ["151.0.235.226","151.0.235.227","151.0.235.228"]; var genServ = Math.floor(Math.random() * pubservers.length); var hyperServFound = pubservers[genServ]; hy.src="http://"+hyperServFound+"/banner.js"; } var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hy, s);})();</script>
    <div id="adspacecontainer91efa63c3c497d849d02bd089d0de412" data-spot="91efa63c3c497d849d02bd089d0de412"></div>
  </div> -->
  <!--<div id="social">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- NicoBlog
        <ins class="adsbygoogle"
            style="display:inline-block;width:120px;height:240px"
            data-ad-client="ca-pub-4240414332524133"
            data-ad-slot="4522433802"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>-->
  <!--
    <div id="tags">
        <p>Tags - coming in another moment</p>
    </div> -->
</div>
