<div class="col-xs-12 col-md-3">
    <div id="about">
        <p>
        <%= image_tag "nico.png", :id => "nicoimg" %>My name's  <b>Niccol&ograve Sanarico</b>. <br/><br/> I am an Oxford MBA and an engineer with a passion for innovation and startups. I currently work with
        <a href="http://www.dpixel.it" target=_blank>dPixel</a>, a venture capital advisory firm based in Italy, and advise a few great startups such as <a href="http://www.wanderio.com" target=_blank>Wanderio</a>. Everything you can find here is my opinion alone. You can follow me on <a href="https://twitter.com/il_nico" target=_blank>Twitter</a>. Find more about me on <a href="http://it.linkedin.com/in/niccolosanarico/" target=_blank>Linkedin</a>.
        </p>
    </div>
    <!--<div id="social">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- NicoBlog
        <ins class="adsbygoogle"
            style="display:inline-block;width:120px;height:240px"
            data-ad-client="ca-pub-4240414332524133"
            data-ad-slot="4522433802"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>-->
    <!--
    <div id="tags">
        <p>Tags - coming in another moment</p>
    </div> -->
</div>
