<div class="col-xs-12 col-md-3">
  <div id="about">
    <p>
      <%= image_tag "nico.png", :id => "nicoimg" %>My name's
      <b>Niccol&ograve Sanarico</b>.
      <br/><br/>
      I am an Oxford MBA and a software engineer with a passion for innovation and startups. Still playing around with code. I currently work with
      <a href="http://www.primomigliosgr.it" target=_blank>Primomiglio SGR SpA</a>, a venture capital firm based in Italy, previously in
      <a href="http://www.dpixel.it" target=_blank>dpixel</a>. Everything you can find here is my opinion alone. You can follow me on
      <a href="https://twitter.com/il_nico" target=_blank>Twitter</a>. Find more about me on
      <a href="http://it.linkedin.com/in/niccolosanarico/" target=_blank>Linkedin</a>.
    </p>
</div>
